<div class="reminder">
    <div class="reminder-contacted">
        <%= link_to reminder_path(reminder, {reminder: {contacted: !reminder.contacted}}), data: {"turbo-method": :patch}, class: "contacted-link" do %>
            <% if reminder.contacted %>
                <div class="button-success button-connect-right">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            <% else %>
                <div class="button-secondary button-connect-right button-<%= time_period == "last-seven-days" ? 'red' : 'yellow' %>">
                    <i class="fa-solid fa-clock"></i>
                </div>
            <% end %>
        <% end %>
        <%= link_to reminder_path(reminder), class: "button-secondary button-connect-left" do %>
            <% if reminder.birthday_reminder %>
                <i class="fa-solid fa-cake-candles"></i>
            <% end %>
            <%= reminder.contacts.first.full_name %>
        <% end %>
        <% if time_period.include?("next") %>
            <span class="reminder-date-future mini-font">
                <%= reminder.target_date.strftime("%b %d") %> (<%= time_distance(Date.today, reminder.target_date) %>)
            </span> 
        <% end %>
    </div>
</div>