<% reminders.each do |reminder_group| %>
    <div class="day-reminder-group">
        <div class="reminder-group-date">
            <%= reminder_group.last.first.target_date.strftime(time_format(reminder_name)) %><span class="mini-font"><%= time_distance(Date.today, reminder_group.last.first.target_date, space: true) %></span>
        </div>
        <div class="reminder-cards">
            <% reminder_group.last.each do |reminder| %>
                <div class="reminder-card">
                    <div class="full-name">
                        <%= reminder.contacts.first.full_name %>
                    </div>
                    <%= link_to "done", reminder_path(reminder, {reminder: {contacted: !reminder.contacted}}), data: {"turbo-method": :patch}, class: "reminder-done-btn" %>
                    <% if reminder.actual_date %>
                        <%= reminder.actual_date.strftime("%b %d, %Y") %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>