<div class="reminder-container">
    <div class="time-periods">
        <% @time_periods.each_with_index do |reminder_group, index| %>
            <section class="time-period <%= reminder_group[:css] %>">
                <% if reminder_group[:css] == 'today' %>
                    <div class="time-period-name todays-suggestions">
                        <div class="name-title">
                            <%= reminder_group[:name] %>  
                        </div>
                        <div class="todays-suggestions-title d-none d-md-block">
                            Todays Suggestions
                        </div>
                    </div>
                <% else %>
                    <div class="time-period-name">
                        <%= reminder_group[:name] %>  
                    </div>
                <% end %>
                <div class="time-period-reminder">
                    <div class="time-period-reminders-details <%= reminder_group[:css] %>">
                        <% if reminder_group[:reminders].values.first %>
                            <% reminder_group[:reminders].each do |day, reminders| %>
                                <% reminders.sort_by(&:created_at).each do |reminder| %>
                                    <div class="reminder">
                                        <%= link_to reminder_path(reminder, {reminder: {contacted: !reminder.contacted}}), data: {"turbo-method": :patch}, class: "contacted-link" do %>
                                            <% if reminder.contacted %>
                                                <i class="fa-solid fa-square-check"></i>
                                            <% else %>
                                                <i class="fa-regular fa-square-check"></i>
                                            <% end %>
                                            <% if reminder.birthday_reminder %>
                                                <i class="fa-solid fa-cake-candles"></i>              
                                            <% end %>
                                            <%= reminder.contacts.first.full_name %>
                                            <% if index > 2 %>
                                            <span class="mini-font">
                                                <%= reminder.target_date.strftime("%b %d") %> (<%= time_distance(Date.today, reminder.target_date) %>)
                                            </span> 
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% elsif current_user.contacts.present? %>
                            <%= link_to new_reminder_path, class: "button-secondary" do %>
                                <i class="fa-regular fa-square-plus"></i> add a reminder
                            <% end %>
                        <% end %>
                    </div>
                    <% if reminder_group[:css] == "today" %>
                        <div class="reminder-suggestions d-none d-md-block">
                            <% if current_user.unassigned_contacts.count.zero? && !current_user.contacts_without_active_reminders.present? && !current_user.next_contacts_birthday.present? %>
                                Doesnt look like you have any contacts...
                                 <%= link_to new_contact_path, class: "button-secondary" do %>
                                    <i class="fa-regular fa-square-plus"></i> add one now!
                                <% end %>
                            <% end %>
                            <div class="cleanup-contacts-suggestions">
                                <% if current_user.unassigned_contacts.count > 0 %>
                                    Cleanup Address book: <br>
                                    <%= link_to contacts_path, class: "button-secondary" do %>
                                        <%= pluralize(current_user.unassigned_contacts.count, "unassigned contact") %> 
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="contact-suggestions">
                                <% if current_user.contacts_without_active_reminders.present? && @random_contacts_without_active_reminders.count == 3%>
                                    Contacts without reminders: <br>
                                    <% @random_contacts_without_active_reminders.each do |contact, index| %>
                                        <%= link_to new_reminder_path(contact_id: contact), class: "button-secondary" do %>
                                            <%= contact.full_name %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="next-birthday">
                                <% if current_user.next_contacts_birthday.present? %>
                                    Next birthday: <br>
                                    <i class="fa-solid fa-cake-candles"></i> <%= current_user.next_contacts_birthday.full_name %>
                                    <% if current_user.next_contacts_birthday.birthday_reminder_set? %>
                                        (reminder is set!)
                                    <% else %>
                                        (set a reminder now)
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </section>
        <% end %>
    </div>
</div>
