<%= simple_form_for group, data: { controller: :color } do |f| %>
    <div class="name-and-color">
        <%= f.input :name, label: false, placeholder: "Group Name" %>
        <%= f.input :interval, label: false, placeholder: "Default Interval"  %>
    </div>
    <%= f.input :color,
        label: false,
        collection: Group::COLORS,
        as: :radio_buttons, 
        label: false, 
        input_html: { class: "tag-selector" },
        item_wrapper_class: 'tag-item' %> 
    <br>
    <%= f.submit class: "button-success" %>
<% end %>
