<% if user_signed_in? %>
    <%= link_to user_path(current_user), class: "user-profile" do %>
        <%= nice_user_name(current_user) %>
    <% end %>
    <div class="sidebar-links">
        <% if check_controller_action('contacts', 'index') %>
            <div class="sidebar-link">
                <%= link_to "Create Contact", new_contact_path, class: "button-success button-full" %>
            </div>
            <div class="sidebar-link">
                <%= link_to "Create Group", new_group_path, class: "button-secondary button-full" %>
            </div>
            <div class="sidebar-link">
                <%= link_to "Create Tag", new_tag_path, class: "button-secondary button-full" %>
            </div>
            <div class="groups">
                <% current_user.groups.each do |group| %>
                    <%= link_to group_path(group) do %>
                        <div class="group button-secondary button-full" style="border-color: <%= group.color%>;">
                            <%= group.name.capitalize %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% elsif check_controller_action('reminders', 'index') %>
            <div class="sidebar-link">
                <%= link_to "Create Reminder", new_reminder_path, class: "button-success button-full" %>
            </div>
        <% elsif check_controller_action('contacts', 'show') %>
            <div class="sidebar-link">
                <%= link_to "Create Reminder", new_contact_reminder_path(contact_id: @contact), class: "button-success button-full" %>
            </div>
            <div class="sidebar-link">
                <%= link_to "Create Tag", new_tag_path, class: "button-secondary button-full" %>
            </div>
            <div class="sidebar-link">
                <%= link_to "Edit", edit_contact_path(@contact), class: "button-secondary button-full" %>
            </div>
            <div class="sidebar-link">
                <%= link_to "Delete", contact_path(@contact), class: "button-secondary button-full", data: { turbo_confirm: "Are you sure you want to delete this contact?", "turbo-method": :delete } %>
            </div>
        <% end %>
    </div>
<% end %>
