<%= link_to contact_path(contact),
    class: "contact-card",
    data: { 
        contacts_filter_target: "contactCard",
        tags: contact.tags.map(&:name).map(&:downcase),
        groups: contact.groups.map(&:name).map(&:downcase),
        first_name: contact.first_name.downcase,
        last_name: contact.last_name.downcase,
        full_name: contact.full_name.downcase
    } do %>
    <div class="contact-card-top">
        <div class="full-name">
            <%= contact.full_name %>
        </div>
        <div class="top-level-details">
            <% if display_group %>
                <% contact.groups.each do |group| %>
                    <% unless group.name == "unassigned" %>
                        <div class="group" style="border-bottom: 1px solid <%= group.color %>">
                            <%= group.name.capitalize %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
            <div class="tags">
                <% contact.tags.each do |tag| %>
                    <%= tag.name %>
                <% end %>
            </div>
            <div class="reminder">
                <% if contact.active_reminders_in_the_next_seven_days? %>
                    <i class="fa-solid fa-bell"></i>
                <% end %>
            </div>
        </div>
    </div>
<% end %>   