<div class="contacts-container">
    <% if current_user.admin? %>
        <div class="admin-action" style="margin-bottom: 16px;">
            <%= link_to "create fake contacts", fake_contact_path, class: "button-secondary" %>
            <%= link_to "delete fakes contacts", destroy_fake_contacts_path, class: "button-secondary" %>
            (only admins see this)
        </div>
    <% end %>
    <div class="contacts">
        <%= turbo_frame_tag "contact-quick-create" do %>
            <%= link_to "Create new Contact", new_contact_path, class: "button-success" %>
        <% end %>
        <%= turbo_frame_tag "contacts" do %>
            <% @contacts.each do |contact| %>
                <%= turbo_frame_tag "contact-card", class: "contact-card" do %>
                    <%= render "contact", contact: contact %>
                <% end %>
            <% end %>
            <div class="contact-card-placeholder">
            </div>
        <% end %>
    </div>
</div>
