<div class="contacts-container">
    <div class="actions">
        <%= link_to "Create new Contact", new_contact_path, class: "button-success action" %>
        <%= link_to "Create new Group", new_group_path, class: "button-secondary action" %>
    </div>
    <div class="groups">
        <% @groups.each do |group| %>
            <div class="group">
                <div class="group-name" style="border-bottom: 2px solid <%= group.color %>">
                    <%= group.name %>
                </div>
                <div class="contacts">
                    <% group.contacts.each_with_index do |contact, index| %>
                        <%= link_to contact_path(contact), class: "contact-card #{'last-row' if index == group.contacts.count - 1 || index == group.contacts.count - 2 && group.contacts.count.even? || group.contacts.count.odd? && index == group.contacts.count - 1}" do %>
                            <div class="full-name">
                                <%= contact.full_name %>
                            </div>
                        <% end %>   
                    <% end %>
                    <% if group.contacts.count.odd? %>
                        <div class="contact-card-placeholder">
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
