<div class="contacts-container">
    <div class="actions">
        <%= link_to "Create a new Contact", new_contact_path, class: "button-success action" %>
        <%= link_to "Create a new Group", new_group_path, class: "button-secondary action" %>
    </div>
    <div class="groups">
        <% @groups.each do |group| %>
            <div class="group">
                <div class="group-name" style="border-bottom: 1px solid <%= group.color %>">
                    <%= group.name %>
                </div>
                <div class="contacts">
                    <% group.contacts.each_with_index do |contact, index| %>
                        <div class="contact-card <%= 'last-row' if index == group.contacts.count - 1 || index == group.contacts.count - 2 && group.contacts.count.even? || group.contacts.count.odd? && index == group.contacts.count - 1 %>">
                            <div class="full-name">
                                <%= contact.full_name %>
                            </div>
                            <div class="contact-actions">
                                <%= link_to contact_path(contact) do %>
                                    <div class="contact-edit contact-action">
                                        <i class="fa-light fa-pen-to-square"></i>
                                    </div>
                                <% end %>
                                <div class="contact-reminder contact-action">
                                    <%= link_to new_reminder_path(contact_id: contact) do %>
                                        <i class="fa-light fa-bell"></i>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% if group.contacts.count.odd? %>
                        <div class="contact-card-placeholder">
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
