<div class="contact-profile">
    <nav>
        <div class="nav nav-tabs desktop" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">
                Details
            </button>
            <button class="nav-link" id="nav-reminders-tab" data-bs-toggle="tab" data-bs-target="#nav-reminders" type="button" role="tab" aria-controls="nav-reminders" aria-selected="false">
                Reminders
            </button>
            <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false">
                Notes
            </button>
            <button class="nav-link" id="nav-tags-tab" data-bs-toggle="tab" data-bs-target="#nav-tags" type="button" role="tab" aria-controls="nav-notes" aria-selected="false">
                Tags
            </button>
        </div>
        <div class="nav nav-tabs mobile" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">
                <i class="fa-light fa-circle-info"></i>
            </button>
            <button class="nav-link" id="nav-reminders-tab" data-bs-toggle="tab" data-bs-target="#nav-reminders" type="button" role="tab" aria-controls="nav-reminders" aria-selected="false">
                <i class="fa-light fa-bell"></i>
            </button>
            <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false">
                <i class="fa-light fa-clipboard"></i>
            </button>
            <button class="nav-link" id="nav-tags-tab" data-bs-toggle="tab" data-bs-target="#nav-tags" type="button" role="tab" aria-controls="nav-notes" aria-selected="false">
                <i class="fa-light fa-user-tag"></i>
            </button>
        </div>
    </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
            <div class="contact-fields">
                <div class="section-header full-name-and-group">
                    <div class="full-name">
                        <%= @contact.full_name %> 
                    </div>
                </div>
                <div class="contact-field">
                    <div class="contact-field-name">
                        Birthday:
                    </div>
                    <% if @contact.birthday %>
                        <div class="contact-birthday contact-field-value">
                            <%= @contact.birthday.strftime("%b %d, %Y") %>
                        </div>
                    <% end %>
                </div>
                <div class="contact-field">
                    <div class="contact-field-name">
                        Email:
                    </div>
                    <div class="contact-email contact-field-value">
                        <%= @contact.email %>
                    </div>
                </div>
                <div class="contact-field">
                    <div class="contact-field-name">
                        Phone Number:
                    </div>
                    <div class="contact-phone-number contact-field-value">
                        <%= @contact.phone_number %>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-reminders" role="tabpanel" aria-labelledby="nav-reminders-tab">
            <div class="contact-profile-reminders">
                <%= render "contact_reminders", reminder_type_name: "Active Reminders", reminders: @contact.active_reminders %>
                <%= render "contact_reminders", reminder_type_name: "Old Reminders", reminders: @contact.inactive_reminders %>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
            <div class="contact-profile-notes">
                <div class="notes">
                    <% @contact.notes.each do |note| %>
                        <div class="note">
                            <div class="note-timestamp-and-content">
                                <div class="note-timestamp">
                                    <%= note.created_at.strftime("%b %e, %Y %l:%M %p") %>:
                                </div>
                                <div class="note-content">
                                    <%= note.rich_content %>
                                </div>
                            </div>
                            <div class="note-delete">
                                <%= link_to note_path(note), data: { turbo_confirm: "Are you sure you want to delete this note?", "turbo-method": :delete } do %>
                                    <i class="fa-light fa-trash"></i>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="new-contact-note">
                    <%= render "notes/form", contact: @contact, note: Note.new %>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-tags" role="tabpanel" aria-labelledby="nav-tags-tab">
            <%= render "group_contacts/form", contact: @contact, group_contact: @contact.group_contact %>
            <%= render "tags_form", contact: @contact, contact_tag: ContactTag.new %>
            <%= turbo_frame_tag "new_tag" do %>
                <%= link_to "Create new Tag", new_tag_path, class: "button-secondary action" %>
            <% end %>
        </div>
    </div>
</div>
