<!DOCTYPE html>
<html>
  <head>
    <title>SuperChargedAddressBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/fa6e169926.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="app-container">
      <div class="mobile-navbar sticky">
        <%= render "shared/mobile_navbar" %>
      </div>
      <div class="left-sidebar">
        <%= render "shared/left_sidebar" %>
      </div>
      <div class="center-container">
        <%= yield %>
      </div>
      <div class="right-sidebar">
        <%= render "shared/right_sidebar" %>
      </div>
    </div>
  </body>
</html>
